@media screen and (max-width: 700px) {
  #hi_there {
    font-size: 30px;
    padding: 60px 0px 0px 50px;
  }

  #im_paul {
    padding: 0px 0px 0px 50px;
    font-size: 50px;
  }

  #bsit {
    padding: 0px 0px 0px 50px;
    font-size: 50px;
  }
}
